@font-face {
  font-family: YekanBakh;
  font-style: "";
  font-weight: 100;
  src: url("./Yekan Bakh EN 03 Light.ttf") format("truetype");
}
@font-face {
  font-family: YekanBakh;
  font-style: "";
  font-weight: 200;
  src: url("./Yekan Bakh EN 04 Regular.ttf") format("truetype");
}
@font-face {
  font-family: YekanBakh;
  font-style: "";
  font-weight: 300;
  src: url("./Yekan Bakh EN 05 Medium.ttf") format("truetype");
}
@font-face {
  font-family: YekanBakh;
  font-style: "";
  font-weight: 400;
  src: url("./Yekan Bakh EN 06 Bold (1).ttf") format("truetype");
}
